/* GLOBAL STYLES

-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body{
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Gugi', cursive;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:15px;
}

.bg-lalala{
  background:black;
}

.bg-lalala:hover{
  background:#282828;
  transition:all ease .5s;
}


  header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading{
    padding:200px 0 150px;
    color:#fff
    }

  @media only screen and (min-width:768px){
    header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading{
      padding:200px 10
      }
    }
    header.masthead .page-heading,header.masthead .site-heading{
      text-align:center
      }
    header.masthead .page-heading h1,header.masthead .site-heading h1{
      font-size:50px;margin-top:0
      }
    header.masthead .page-heading .subheading,header.masthead .site-heading .subheading{
      font-size:30px;
      font-weight:300;
      line-height:1.1;
      display:block;
      margin:10px 0 0;
      font-style:italic;
      font-family: 'Oswald', sans-serif
      }
      @media only screen and (min-width:768px){
        header.masthead .page-heading h1,header.masthead .site-heading h1{
          font-size:80px
        }
      }
        header.masthead .post-heading h1{
          font-size:35px
          }
        header.masthead .post-heading .meta,header.masthead .post-heading .subheading{
          line-height:1.1;
          display:block
          }
        header.masthead .post-heading .subheading{
          font-size:24px;
          font-weight:600;
          margin:10px 0 30px;
          font-style:italic;
          font-family: 'Oswald', sans-serif
          }
        header.masthead .post-heading .meta{
          font-size:20px;
          font-weight:300;
          font-style:italic;
          font-family: 'Gugi', cursive;
          }
        header.masthead .post-heading .meta a{
          color:#fff
          }
      @media only screen and (min-width:768px){
        header.masthead .post-heading h1{
          font-size:55px
          }
        header.masthead .post-heading .subheading{
          font-size:30px
          }
      }

h1{
  font-family: 'Gugi', cursive;
  background-color: #000
}

h2,h3,h4,h5{
  font-family: 'Gugi', cursive;
  color: #000000;
  text-align: center;
}

img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

img:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
